  :root{
    --maincolor: rgb(4, 54, 4);
    --textshadow: 2px 4px 3px rgba(0,0,0,0.3);
    --borderadius: 15px;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    }

  html{
    scroll-behavior: smooth;
    background-color: #eefae8;
  }
  section{
    margin: auto;
    scroll-margin-top: 100px; /* výška tvé fixní hlavičky */

  }
  h1{
    font-size: 70px;
    color: rgb(222, 245, 223);
    text-shadow:  var(--textshadow);
    text-align: center;
  }
 h2{
    font-size: 40px; 
    color: rgb(0, 0, 0);
    text-align: center;
  }
  h3{
    font-size: 30px;
    color: rgb(222, 245, 223);
	  text-shadow: var(--textshadow); 
    font-weight: 400;
    text-align: center;

  }
  h4{
    font-size: 32px;
  }
  p{
    font-size: 20px;
  }
  a{
    transition: 0.2s ease-in-out;
  }
  a:hover{
    scale: 1.1;
    transition: 0.2s ease-in-out;
  }
  /*navbar*/
  .logo{
    width: 60px;
  }
  
  #navsec{
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: rgb(58, 54, 54);
    background: rgba(213, 245, 226, 0.801); /* Poloprůhledné bílé pozadí */
    backdrop-filter: blur(10px); /* Rozmazání pozadí */
    -webkit-backdrop-filter: blur(10px); /* Pro Safari */
    border: 1px solid rgba(15, 14, 14, 0.3);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 5px 35px;
    margin: 0 50px;
    color: rgb(0, 0, 0);
    position: sticky;
    
    }
  nav a{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: black;
  }
  nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .cta-green{
    padding: 10px 15px;
    background: var(--maincolor);
    font-size: 18px;
    border-radius: var(--borderadius);
    box-shadow: none;
    border: none;
    color: white;
  }

  .hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  }
  .hamburger.active span:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
  width: 40px;
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
    width: 40px;

}

  .bar {
    height: 4px;
    width: 100%;
    background: #4d4949;
    margin: 4px 0;
    border-radius: 2px;
    transition: 0.3s;
  }

  /*uvod*/
  .uvod{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background: url(uvod_photo1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(10px);
    margin-bottom: 110px;
  }
  .uvod img{
    width: 30%;
    border-radius: var(--borderadius);
  }
  .uvod .text-right{
        background-color: rgba(0, 0, 0, 0.103);

  }
  .text-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 50%;
    backdrop-filter: blur(3px);
    border-radius: var(--borderadius);
    height: 500px;
    margin-bottom: 200px;
  
  }
  .uvod h3{
    font-weight: 300;
    max-width: 65%;
  }
  .reservio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding:10px 15px;

  }
  .reservio p{
    color: grey;
  }
  .hvezdy img{
    width: 20px;
  }
  .reservio p{
    color: beige;
  }
  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
      font-weight: 500;

  }
  .buttons a{
    padding: 15px 35px;
    font-size: 25px;
    border-radius: var(--borderadius);
    text-decoration: none;
  }
  .btn1{
  background-color: #043115;
  box-shadow: rgb(43, 77, 38) 0px 20px 30px -10px;
  color: rgb(224, 243, 224);
  text-align: center;
  text-decoration: none;
  border: 0;
}

  .btn2{
    border: solid 1px #043115 ;
    color: #043115;
    background-color: rgb(224, 243, 224);
  box-shadow: rgb(43, 77, 38) 0px 20px 30px -10px;

  }
  /*onas*/
  #onas{
    margin-top: 150px;
  }
  .onas{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90%;
    margin: auto;
  }
  .onas img{
    width: 30%;
    border-radius: var(--borderadius);
  }
  /*cenik*/
  .nadpis-cenik{
    margin-bottom: 25px;
    margin-top: 110px;
  }
  .cenik{
   display: grid;
  grid-template-rows: repeat(2, 1fr);   /* 2 řádky */
  grid-template-columns: repeat(4, 1fr); /* 4 sloupce */
  gap: 10px; /* mezery mezi buňkami, volitelné */
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: auto;

  }
  .cenik h2{
    text-align: center;
  }
  .cenik p{
    font-size: 25px;
  }
  .sudy-blok{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #255F38;
    border-radius: var(--borderadius);
    padding: 10px;
    color: white;
    aspect-ratio: 1/1;
    width: 265px;
    margin: auto;
    box-shadow: rgba(15, 150, 184, 0.24) 0px 3px 8px;
  }
  .icon{
    width: 95px;
    color: white;
  }
  #cenik a{
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    color: var(--maincolor);
    border: solid 1px var(--maincolor);
    border-radius: var(--borderadius);
    padding: 10px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rez-btn{
    width:fit-content;
    margin-top: 30px;
    transition: 0.2s ease-in-out;

  }
  .rez-btn:hover{
    scale: 1.1;
    transition: 0.2s ease-in-out;
  }

  /*recenze*/
  .nadpis-recenze{
    margin-top: 110px;
  }
  #recenze p,h4{
    text-align: center;
    padding: 10px;
  }
  #recenze a{
    color: black;
  }
  .slideshow-wrapper {
      text-align: center;
    }
  .slideshow-container {
      position: relative;
      width: 500px;
      height: 210px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
      background: rgb(242, 255, 250);
      border-radius: 10px;
      box-shadow: 0 2px 16px rgba(0,0,0,0.08);
      overflow: hidden;
      margin: 20px auto;
    }
    .slide {
      display: none;
      width: 100%;
      height: 100%;
      font-size: 2rem;
      color: #222;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: absolute;
      left: 0; top: 0;
      background:  transparent;
      transition: opacity 0.3s;
      padding-top: 20px;
      box-sizing: border-box;

    }
    .slide.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 400px;
      margin: auto;
      left: 10%;
      opacity: 1;
      z-index: 1;
      bottom: 10%;
    }

    .arrow {
      position: absolute;
      top: 47%;
      transform: translateY(-50%);
      background: transparent;
      color: black;
      border: none;
      width: 40px;
      height: 40px;
      font-size: 1.5rem;
      cursor: pointer;
      z-index: 2;
      opacity: 0.8;
    }
    .arrow:hover {
      scale: 1.05;
      opacity: 1;
    }
    .arrow.left {
      left: 0px;
      padding: 5px;
      margin-right: 40px;
    }
    .arrow.right {
      right: 10px;
    }

    .dots {
      margin-top: 15px;
    }

    .dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .dot:hover{
      scale: 1.1;
      transition: 0.2s ease-in-out;
    }

    .dot.active {
      background-color: #333;
    }
  .stars{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .star{
    width: 20px;
  }
  /*kontakt*/
  .sec-kontakt{
    margin-top: 110px;
    padding: 5px 20px;

  }
  .kontakty{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .info-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .nadpis-kontakt{
    text-align: center;
    color: black;
  }
  .kontakt h4{
    font-size: 25px;
    font-weight: 450;
  }
  iframe{
    border-radius: var(--borderadius);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 50px;
  }
  
  td{
    padding: 5px 20px;
    color: rgb(0, 0, 0);
  }
  .provozovna{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
  }
  .zodpovedne-osoby h4{
    padding: 0;
  }
  .zodpovedne-osoby{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .blok-kontakt{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
  .blok-kontakt h4{
    color: black;
    text-shadow: none;
    font-weight: 350;
    font-size: 28px;
  }
  /*footer*/
  footer{
    background-color: #1d552f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    font-weight: 200;
    padding: 10px 20px;
  }
  footer p{
    font-size: 15px;
  }
  footer a{
    color: white;
    text-decoration: underline;
  }
  .socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .socials img{
    width: 30px;
  }

  /*optimalizace*/
  @media (max-width: 1250px)
  {
    .cenik{
      grid-template-rows: repeat(4, 1fr);   /* 8 řádkůy */
      grid-template-columns: repeat(2, 1fr); /* 1 sloupec00 */
    }
  }
  @media (max-width: 980px)
  {
    .onas img{
      display: none;
    }
  }
    @media (max-width: 850px) {
    /*nav + hamburder*/
    nav li{
      opacity: 0;
    }
    nav li .active{
      opacity: 1;
      transition: 0.5s ease-in-out;
    }
    nav .link, .cta-green {
      display: none;
    }
    nav.active ul{
      display: block;
      opacity: 1;
    }
    nav.active .link, nav.active .cta-green {
      display: block;
      padding: 10px 0;
      width: 100%;
      text-align: center;
      transition: ease 0.5s;
    }
    nav {
      display: block;
    }
    .hamburger {
      display: flex;
      position: absolute;
      right: 20px;
      top: 20px;
    }

    /*uvod*/
    .text-right{
      width: 80%;
    }
    .text-right p{
      text-align: center;
    }
    .uvod h1{
      font-size: 55px;
      text-align: center;
    }
    .uvod h3{
      font-size: 25px;
      text-align: center;
      width: 55%;
    }
        /*cenik*/
    .cenik{
        grid-template-rows: repeat(4, 1fr);   /* 8 řádkůy */
        grid-template-columns: repeat(2, 1fr); /* 1 sloupec00 */
    }
    /*kontakt*/
    .kontakt{
      gap: 30px;
    }
  }  
  @media (max-width: 770px){
    .uvod h1{
      font-size: 50px;
    }
    .uvod h3{
      font-size: 20px;
    }
    .text-right{
      width: 80%;
    }
    .btn2{
      display: none;
    }
    .buttons a{
      font-size: 20px;
    }
    .reservio-logo{
      width: 40px;
    }
    .reservio p{
      font-size: 13px;
    }
    .reservio .star{
      width: 17px;
    }
    footer{
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    /*cenik*/
    .sudy-blok{
      max-width: 200px;
    }
    .sudy-blok p{
      font-size: 18px;
    }
    .sudy-blok img{
      width: 80px;
    }
    .sudy-blok a{
      font-size: 15px;
    }
    .provozovna iframe{
      width: 350px;
    }

  }
  
  @media (max-width: 585px) {
    /*uvod*/
    .kontakt p{
      font-size: 15px;
    }
    .kontakt h3{
      font-size: 22px;
    }
 
    h2{
      font-size: 30px;
    }
    h3{
      font-size: 26px;
    }
    h4{
      font-size: 24px;
    }
    .blok-kontakt h4{
      font-size: 22px;
    }
    .slide p{
      font-size: 18px;
      max-width: 200px;
    }
    .slideshow-container{
      width: 300px;
      height: 250px;
    }
    .slide.active{
      left: -50px;
    }
    .blok-kontakt p{
      font-size: 15px;
    }
  }

  @media(max-width: 500px){
    .uvod h1{
      font-size: 40px;
    }
    .uvod h3{
      font-size: 18px;
    }
    .btn1{
      font-size: 18px;
    }
    #onas{
      margin-top: 200px;
    }
    .cenik{
        grid-template-rows: repeat(8, 1fr);   /* 8 řádkůy */
        grid-template-columns: repeat(1, 1fr); /* 1 sloupec00 */
    }
    .provozovna iframe{
      width: 250px;
    }
    #recenze   p{
      font-size: 20px;
    }
  }

  /*animace*/
  @keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.onas{
  animation: fadeIn 1s ease-in-out;
}